* {
  margin: 0px;
  background-image: url(../img/wal.jpg);
  color: white;
}

div.msg-sucesso {
  width: 420px;
  padding: 4px;
  border: 2px solid green;
  position: flex;
  top: 60px;
  left: 34%;
}

div.msg-error {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  position: flex;
  top: 50px;
  left: -35px;
  text-align: center;
  background-color: rgba(250, 128, 114, 0.3);
  border: 1px solid rgb(165, 42, 42);
}

div.form {
	width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border: 2px solid black;
  position: relative;
	top: 100px;
}

h1 {
	text-align: center;
}

input.input-control {
	width: 94%;
	margin: 10px;
  position: relative;
  border-radius: 30px;
	text-align: center;
  border: 1px solid rgb(88, 88, 88);
  font-size: 16pt;
  background: rgb(255, 255, 255, 0.01);
}

input[type="submit"] {
	width: 100%;
	padding: 4px;
	font-size: 18px;
	border-radius: 30px;
	background: rgb(255, 0, 0);
	color: #fff;
	position: relative;
	cursor: pointer;
}

button {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

button:hover {
	transition: 0.5s;
	color: rgb(49, 65, 218);
}

@media screen and (max-width: 650px) {
	div.form {
		width: 100%;
	}
}